@media only screen and (max-width: 767px) {
  #homeTitle {
    text-align: center;
    .pageContainer {
      .container {
        display: flex;
        justify-content: center;
        min-height: 65rem;
        position: relative;
        .threeSmallCircles {
          display: none;
        }
        .straightLine {
          display: none;
        }
        .smallArrow {
          top: 72%;
          left: -102.4%;
        }
        .hOneDiv {
          margin-bottom: 10rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          p,
          a {
            margin: 3.4rem 0 0 0;
          }
        }
      }
    }
  }

  .howTo {
    .container {
      flex-direction: column;
      margin: 12.2rem auto 14.5rem auto;
      .infiniteLine {
        display: none;
      }
      gap: 4.8rem;
      article {
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 13rem;
        gap: 2.4rem;
        .howTo__iconsHow {
          width: 5.6rem;
          height: 5.6rem;
          img {
            padding: 1.5rem;
            width: 5.6rem;
          }
        }
        .howTo__Text {
          display: flex;
          flex-direction: column;
          gap: 2.4rem;
        }
      }
    }
  }

  .homeGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 0;

    #homeGrid__textThree,
    #homeGrid__textTwo,
    #homeGrid__textOne {
      align-items: center;
      margin-bottom: 8rem;
    }
    #homeGrid__imageOne {
      .lightGreyCircle {
        display: none;
      }
      .bigArrow {
        left: -1%;
        top: 53.5%;
      }
    }
    #homeGrid__imageTwo {
      .lightGreyCircle {
        display: none;
      }
      .bigArrow {
        right: 25%;
        transform: scaleX(-1);
      }
    }
    #homeGrid__imageThree {
      .lightGreyCircle {
        display: none;
      }
      .bigArrow {
        left: 41%;
        top: 0;
      }
    }
  }
}
